@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@*
    Displays a form for making a guess
    Disabled if SecretNumberViewModel.DisableForm is true
*@

@{
    var notDisabled = new { maxlength = "3", size = "2", autocomplete = "off", autofocus = "autofocus", onFocus = "this.select()" };
    var disabled = new { notDisabled, disabled = "disabled" };

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "Fel inträffade. Korrigera det som är fel och försök igen.")
      
        @Html.LabelFor(m => m.Guess, "Gissa ett tal mellan 1 och 100:")

        @Html.TextBoxFor(m => m.Guess, (Model.DisableForm ? (object)disabled : notDisabled))
        
        <button type="submit" class="btn btn-primary" @(Model.DisableForm ? "disabled" : "")>Gissa</button>    
    }
}