@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@{
    ViewBag.Title = "Gissa det hemliga talet";
}

@Html.DisplayFor(m => m.Header)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Fel inträffade. Korrigera det som är fel och försök igen.")

    @Html.LabelFor(m => m.Number, "Gissa ett tal mellan 1 och 100")
    
    @Html.TextBoxFor(m => m.Number, new { @maxlength = "3", @size = "2", @autocomplete = "off", @autofocus = "autofocus", @onFocus = "this.select()"})
    
    <p>
        <input type="submit" value="Gissa" />
    </p>
}


@foreach (var item in Model.Message())
{
    <p>@item</p>
}
<ol>
    @foreach (var item in Model.SecretNumber.GuessedNumbers)
    {
		<li>
            @Html.DisplayFor(m => item.Number) - @Html.DisplayFor(m => item.Outcome)
	    </li>
	}
</ol>

@if (Model.SecretNumber.Number != null)
{
    @Html.ActionLink("Slumpa ett nytt tal", "New")
}

